# this file is a copy for ${systemd_unitdir}/system/

[Unit]
Description=TPS NodeJS test Audio service
After=network-online.target

[Service]
Restart=on-failure
WorkingDirectory=/opt/node-apps/test-can/site/
ExecStart=/usr/bin/node /opt/node-apps/test-can/site/app.js

# do limitation
CPUAccounting=true
CPUQuota=10%
MemoryAccounting=true
MemoryLimit=50M


[Install]
WantedBy=multi-user.target
