--- a/drivers/bluetooth/Kconfig	2017-12-05 19:26:18.263002949 +0300
+++ a/drivers/bluetooth/Kconfig	2017-12-06 13:42:08.125066349 +0300
@@ -2,6 +2,12 @@
 menu "Bluetooth device drivers"
 	depends on BT
 
+config BT_RTKBTUSB
+	tristate "RTK HCI USB driver"
+	depends on USB
+	help
+	   RTK Bluetooth HCI USB driver
+
 config BT_INTEL
 	tristate
 	select REGMAP
