[Unit]
Description=Nginx
After=network-online.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t
ExecStart=/usr/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

# do limitation
CPUAccounting=true
CPUQuota=10%
MemoryAccounting=true
MemoryLimit=6M

[Install]
WantedBy=multi-user.target
