--- linux/drivers/of/Kconfig	2015-04-06 02:30:39.000000000 +0300
+++ linux/drivers/of/Kconfig	2015-04-06 02:30:54.797192295 +0300
@@ -85,7 +85,7 @@
 	bool
 
 config OF_OVERLAY
-	bool
+	bool "Dv: Device Tree overlays"
 	depends on OF
 	select OF_DYNAMIC
 	select OF_RESOLVE
