--- a/drivers/of/Kconfig	2015-04-06 02:35:49.000000000 +0300
+++ b/drivers/of/Kconfig	2015-04-06 17:15:13.329331256 +0300
@@ -81,6 +81,11 @@
 	help
 	  Helpers to allow for reservation of memory regions
 
+config OF_CONFIGFS
+	bool "Device Tree Overlay ConfigFS interface"
+	select CONFIGFS_FS
+	def_bool n
+
 config OF_RESOLVE
 	bool
 
@@ -89,5 +93,6 @@
 	depends on OF
 	select OF_DYNAMIC
 	select OF_RESOLVE
+	select OF_CONFIGFS
 
 endmenu # OF
